<div class="container-fluid article-outer">
	<div class="row">
		<div class="col-xs-12 article">
			<h3 class="title" [innerHTML]="articleObj.fields.title"></h3>

			<div class="text" [innerHTML]="articleObj.fields.text"></div>

			<div class="date-outer pull-right">
				<span class="date">{{ articleObj.fields.created_date.split('T')[0] }}</span>
				<span class="time">{{ articleObj.fields.created_date.split('T')[1].slice(0, -4) }}</span>
			</div> 		
		</div>
	</div>	

	<div class="row">
		<div class="col-xs-12">
			<button md-button class="btn btn-back basic-bg-color" (click)="back()">Вернуться к списку</button>	
		</div>
	</div>           
</div>
