<div class="row">
	<div class="col-sm-4 actions dates-area">
		<h3>Выборка по дате</h3>

		<div class="row datepicker-area">
			<div class="col-xs-6">
				<md-input-container>
				  <input mdInput [mdDatepicker]="picker_from" [(ngModel)]="modelDateBegin" placeholder="От">
				  <button mdSuffix [mdDatepickerToggle]="picker_from"></button>
				</md-input-container>
				<md-datepicker #picker_from></md-datepicker>
			</div>

			<div class="col-xs-6">
				<md-input-container>
				  <input mdInput [mdDatepicker]="picker_to" [(ngModel)]="modelDateEnd" placeholder="До">
				  <button mdSuffix [mdDatepickerToggle]="picker_to"></button>
				</md-input-container>
				<md-datepicker #picker_to></md-datepicker>
			</div>
		</div>

		<div class="row btns-area">
			<div class="col-xs-12">
				<button md-button class="btn btn-submit basic-bg-color" (click)="submitFilter()">Выбрать</button>				
			</div>
		</div>	
	</div>

	<div class="col-sm-8 actions limits-area">
		<h3>Фильтр по значениям</h3>

		<div class="row">
			<div class="col-sm-4">
				<div class="box" (click)="toggleSlideVisibility('training_time_min')">
					<div class="head">Время тренировки (мин)</div>
					<div class="slide" *ngIf="slides.training_time_min">
						<div class="slide-inner" (click)="stopPropagator($event)">
							<md-input-container>
							  <input mdInput placeholder="Верхний предел" type="number" [(ngModel)]="limits['training_time_min_upper']">
							</md-input-container>

							<md-input-container>
							  <input mdInput placeholder="Нижний предел" type="number" [(ngModel)]="limits['training_time_min_lower']">
							</md-input-container>	
						</div>
					</div>
				</div>
			</div>

			<div class="col-sm-4">
				<div class="box" (click)="toggleSlideVisibility('pulse_avg_bpm')">
					<div class="head">Средний пульс (уд/мин)</div>
					<div class="slide" *ngIf="slides.pulse_avg_bpm">
						<div class="slide-inner" (click)="stopPropagator($event)">
							<md-input-container>
							  <input mdInput placeholder="Верхний предел" type="number" [(ngModel)]="limits['pulse_avg_bpm_upper']">
							</md-input-container>

							<md-input-container>
							  <input mdInput placeholder="Нижний предел" type="number" [(ngModel)]="limits['pulse_avg_bpm_lower']">
							</md-input-container>					
						</div>
					</div>
				</div>
			</div>

			<div class="col-sm-4">
				<div class="box" (click)="toggleSlideVisibility('pulse_max_bpm')">
					<div class="head">Максимальный пульс (уд/мин)</div>
					<div class="slide" *ngIf="slides.pulse_max_bpm">
						<div class="slide-inner" (click)="stopPropagator($event)">
							<md-input-container>
							  <input mdInput placeholder="Верхний предел" type="number" [(ngModel)]="limits['pulse_max_bpm_upper']">
							</md-input-container>

							<md-input-container>
							  <input mdInput placeholder="Нижний предел" type="number" [(ngModel)]="limits['pulse_max_bpm_lower']">
							</md-input-container>	
						</div>
					</div>
				</div>
			</div>
		</div>						
	</div>
</div>