.filter-outer{
	position: fixed;
	top: 68px;
	left: 0;
	width: 100%;
	height: 30px;
	z-index: 1000;
	padding: 0 13px;
	display: flex;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;	
}

	.filter{
		padding: 0 4px;
		width: 100%;
		display: block;
		outline: #ccc;
		border: 1px solid #ccc;
	}

.teasers{

}

	.teaser:hover{
		background: blue;
		color: #fff;
	}

	.teaser{
		margin-bottom: 10px;
		text-align: left;
		font-size: 16px;
		overflow: hidden;
		padding-top: 10px;
		padding-bottom: 10px;
		cursor: pointer;
		/*min-height: 190px;*/
	}

		.teaser .title{
			font-weight: bold;
		}

				.date-outer{
					font-size: 70%;
				}

.pagination{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}		


.scroll-arrow{
	background: rgba(0, 0, 0, 0.2);
	border-radius: 50%;
	position: fixed;
	bottom: 15px;
	right: 15px;
	cursor: pointer;
	z-index: 900;
}		



