<md-sidenav-container>
	<div class="header">
	  <button class="menu-icon" type="button" md-button (click)="sidenav.open()">
	    <div class="material-icons md-48 basic-color">menu</div>
	  </button>
	  <h1 class="title" [innerHTML]="headerService.getTitle()"></h1>
	</div>

  <md-sidenav class="md-side-nav" #sidenav mode="over">
		<md-list class="menu-list">
		  <md-list-item>
		  	<a class="basic-color" (click)="handlerClickMenu(sidenav, '')" [routerLink]="['/home']">Начало</a>
		  </md-list-item>

		  <md-list-item>
		  	<a class="basic-color" (click)="handlerClickMenu(sidenav, 'Статистика')" [routerLink]="['/panel']">Статистика</a>
		  </md-list-item>

		  <md-list-item>
		  	<a class="basic-color" (click)="handlerClickMenu(sidenav, 'Заметки')" [routerLink]="['/articles']">Заметки</a>
		  </md-list-item>  

		  <md-list-item>
		  	<a class="basic-color" (click)="handlerClickMenu(sidenav, 'Гостевая книга')" [routerLink]="['/guestbook']">Гостевая книга</a>
		  </md-list-item>  		    

		  <md-list-item>
		  	<a class="basic-color" (click)="handlerClickMenu(sidenav, 'События')" [routerLink]="['/events']">События</a>
		  </md-list-item>    		    
		</md-list>		

		<div class="create-block basic-bg-color">
			<div class="inner copyright">© Sergey Kalinin 2017</div>
			<div class="inner powered">Powered by: Angular2 / Django</div>
		</div>
  </md-sidenav>

  <div class="content" id="content">
  	<router-outlet></router-outlet>
  </div>	    
</md-sidenav-container>







