<md-sidenav-container>
	<div class="header">
	  <button class="menu-icon" type="button" md-button (click)="sidenav.open()">
	    <div class="material-icons md-48 basic-color">menu</div>
	  </button>
	  <h1 class="title">{{title}}</h1>
	</div>

  <md-sidenav #sidenav>
		<a [routerLink]="['/home']">home</a>
		<a [routerLink]="['/panel']">panel</a>
		<a [routerLink]="['/books']">books</a>
		<a [routerLink]="['/articles']">articles</a>
  </md-sidenav>

  <div class="content">
  	<router-outlet></router-outlet>
  </div>	    
</md-sidenav-container>







