<md-sidenav-container>
	<div class="header">
	  <button class="menu-icon" type="button" md-button (click)="sidenav.open()">
	    <div class="material-icons md-48 basic-color">menu</div>
	  </button>
	  <h1 class="title">
	  	<span>RuRun</span>
	  	<span class="variable-title" [innerHTML]="headerTitle" *ngIf="headerTitle"></span>
	  </h1>
	</div>

  <md-sidenav #sidenav mode="over">
		<md-list class="menu-list">
		  <md-list-item>
		  	<a class="basic-color" (click)="handlerClickMenu(sidenav, '')" [routerLink]="['/home']">Начало</a>
		  </md-list-item>

		  <md-list-item>
		  	<a class="basic-color" (click)="handlerClickMenu(sidenav, 'Статистика')" [routerLink]="['/panel']">Статистика</a>
		  </md-list-item>

		  <md-list-item>
		  	<a class="basic-color" (click)="handlerClickMenu(sidenav, 'Заметки')" [routerLink]="['/articles']">Заметки</a>
		  </md-list-item>    

		  <md-list-item>
		  	<a class="basic-color" (click)="handlerClickMenu(sidenav, 'События')" [routerLink]="['/events']">События</a>
		  </md-list-item>    		    
		</md-list>		
  </md-sidenav>

  <div class="content" id="content">
  	<router-outlet></router-outlet>
  </div>	    
</md-sidenav-container>







