.header{
	display: flex;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	background: #fff;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 80px;
	z-index: 200;
}

	.header .menu-icon{
		margin: 0;
		min-width: 66px;
		padding: 0;
	}

	.header .title{
		margin: 0;
	}	

		.variable-title:before{
			content: ': ';
		}

		.variable-title{
			margin-left: -8px;
		}

.content{
	overflow: auto;
	height: 100%;
	padding-top: 80px;
}

.menu-list{
	min-width: 200px;
}

	.menu-list a{
		
	}