.teasers{

}

	.teaser:hover{
		background: blue;
		color: #fff;
	}

	.teaser{
		margin-bottom: 10px;
		text-align: left;
		font-size: 16px;
		overflow: hidden;
		padding-top: 10px;
		padding-bottom: 10px;
		cursor: pointer;
	}

		.teaser .title{
			font-weight: bold;
		}

				.date-outer{
					font-size: 70%;
				}

.pagination{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}				

