<div class="container-fluid">
	<div class="row teasers">
		<div class="teaser col-md-6" *ngFor="let item of pagedItems | orderBy: 'fields.created_date': true" color="primary">
		<h3 class="title" [innerHTML]="item.fields.title"></h3>		

		<div [innerHTML]="item.fields.text | ellipsis:220"></div>	

		<div class="date-outer pull-right">
			<span class="date">{{ item.fields.created_date.split('T')[0] }}</span>
			<span class="time">{{ item.fields.created_date.split('T')[1].slice(0, -4) }}</span>
		</div> 						 		
		</div>
	</div>	           
	 
	<div class="row pagination">       
		<ul *ngIf="pager.pages && pager.pages.length" class="pagination">
		  <li [ngClass]="{disabled:pager.currentPage === 1}">
		      <a (click)="setPage(1)">First</a>
		  </li>
		  <li [ngClass]="{disabled:pager.currentPage === 1}">
		      <a (click)="setPage(pager.currentPage - 1)">Previous</a>
		  </li>
		  <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
		      <a (click)="setPage(page)">{{page}}</a>
		  </li>
		  <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
		      <a (click)="setPage(pager.currentPage + 1)">Next</a>
		  </li>
		  <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
		      <a (click)="setPage(pager.totalPages)">Last</a>
		  </li>
		</ul>
	</div>
</div>
