<table class="statistic-table" border="1" celpadding="8">
  <thead>
    <tr>
      <th>Дата</th>
      <th>Время тренировки</th>
      <th>Сердний пульс</th>
      <th>Максимальный пульс</th>
      <th>Примечания</th>
    </tr>
  </thead>

  <tbody>
    <tr id="tableBody" *ngFor="let record of renderData; let i = index" (click)="showDetails()">
    	<td>
        {{ record.fields.created_date | date:"dd-MM-yyyy" }}
      </td>

    	<td [ngClass]="{'lower-color': record.fields.training_time_min < limitsData.training_time_min_lower, 
                      'upper-color': record.fields.training_time_min > limitsData.training_time_min_upper, 
                      'middle-color': limitsData.training_time_min_upper == limitsData.training_time_min_lower}">
        {{ record.fields.training_time_min }}
      </td>

    	<td [ngClass]="{'lower-color': record.fields.pulse_avg_bpm < limitsData.pulse_avg_bpm_lower, 
                      'upper-color': record.fields.pulse_avg_bpm > limitsData.pulse_avg_bpm_upper, 
                      'middle-color': limitsData.pulse_avg_bpm_upper == limitsData.pulse_avg_bpm_lower}">
        {{ record.fields.pulse_avg_bpm }}
      </td>

    	<td [ngClass]="{'lower-color': record.fields.pulse_max_bpm < limitsData.pulse_max_bpm_lower, 
                      'upper-color': record.fields.pulse_max_bpm > limitsData.pulse_max_bpm_upper, 
                      'middle-color': limitsData.pulse_max_bpm_upper == limitsData.pulse_max_bpm_lower}">
        {{ record.fields.pulse_max_bpm }}
      </td>

    	<td>
        {{ record.fields.desc | ellipsis:20 }}
      </td>
    </tr>
  </tbody>
</table>



