.home-outer{
	height: 100%;
}

.home{
	height: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;	
}

	.img{
		display: block;
		width: 80%;
		margin-top: 20px;
		margin-bottom: 20px;
		max-width: 400px;
	}