<div class="action-area container-fluid" *ngIf="!showDetailsPage">
	<div class="row">
		<div class="col-sm-4 actions dates-area">
			<h3>Выборка по дате</h3>

			<div class="row datepicker-area">
				<div class="col-xs-6">
					<my-date-picker name="mydate" [options]="myDatePickerOptions" [(ngModel)]="modelDateBegin" required></my-date-picker>
				</div>

				<div class="col-xs-6">
					<my-date-picker name="mydate" [options]="myDatePickerOptions" [(ngModel)]="modelDateEnd" required></my-date-picker>
				</div>
			</div>

			<div class="row btns-area">
				<div class="col-xs-12">
					<button md-button class="btn btn-submit" (click)="displayStatistic()">Выбрать</button>				
				</div>
			</div>	
		</div>

		<div class="col-sm-8 actions limits-area">
			<h3>Фильтр по значениям</h3>

			<div class="row">
				<div class="col-sm-4">
					<div class="box" (click)="toggleSlideVisibility('pulse_avg_bpm')">
						<div class="head">Средний пульс</div>
						<div class="slide" *ngIf="slides.pulse_avg_bpm">
							<div class="slide-inner" (click)="stopPropagator($event)">
								<md-input-container>
								  <input mdInput placeholder="Верхний предел" type="number" [(ngModel)]="limits['pulse_avg_bpm_upper']">
								</md-input-container>

								<md-input-container>
								  <input mdInput placeholder="Нижний предел" type="number" [(ngModel)]="limits['pulse_avg_bpm_lower']">
								</md-input-container>					
							</div>
						</div>
					</div>
				</div>

				<div class="col-sm-4">
					<div class="box" (click)="toggleSlideVisibility('pulse_max_bpm')">
						<div class="head">Максимальный пульс</div>
						<div class="slide" *ngIf="slides.pulse_max_bpm">
							<div class="slide-inner" (click)="stopPropagator($event)">
								<md-input-container>
								  <input mdInput placeholder="Верхний предел" type="number" [(ngModel)]="limits['pulse_max_bpm_upper']">
								</md-input-container>

								<md-input-container>
								  <input mdInput placeholder="Нижний предел" type="number" [(ngModel)]="limits['pulse_max_bpm_lower']">
								</md-input-container>	
							</div>
						</div>
					</div>
				</div>

				<div class="col-sm-4">
					<div class="box" (click)="toggleSlideVisibility('training_time_min')">
						<div class="head">Время тренировки</div>
						<div class="slide" *ngIf="slides.training_time_min">
							<div class="slide-inner" (click)="stopPropagator($event)">
								<md-input-container>
								  <input mdInput placeholder="Верхний предел" type="number" [(ngModel)]="limits['training_time_min_upper']">
								</md-input-container>

								<md-input-container>
								  <input mdInput placeholder="Нижний предел" type="number" [(ngModel)]="limits['training_time_min_lower']">
								</md-input-container>	
							</div>
						</div>
					</div>
				</div>
			</div>						
		</div>
	</div>
</div>

<div class="statistic-area container-fluid" *ngIf="!showDetailsPage">
	<app-render [renderData]="records" [limitsData]="limits" (onShowDetails)="setDetailsPage($event)"></app-render>
</div>

<div class="statistic-details-area container-fluid" *ngIf="showDetailsPage">
	details
</div>

