

.action-area{
	background: orange;
	height: 20%;
	overflow: hidden;
}

	.actions{
		width: 50%;
		float: left;
	}

	.dates-area{

	}

	.limits-area{

	}

		.box{
			border: 1px solid #000;
			margin-bottom: 20px;
		}

			.head{
				min-height: 20px;
				background: red;
			}

			.slide{
				background: #fff;
			}

				.slide-inner{
					padding: 10px;
				}

.statistic-area{
	background: yellow;
	height: 80%;
}


.example-h2 {
  margin: 10px;
}

.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.example-margin {
  margin: 10px;
}

.mat-slider-horizontal {
  width: 300px;
}

.mat-slider-vertical {
  height: 300px;
}
