<div class="action-area container-fluid" *ngIf="!showDetailsPage">
	<app-filter (onSubmitFilter)="setRenderData($event)" (onErrorFilter)="showErrorMessage($event)"></app-filter>
</div>

<div class="statistic-area container-fluid" *ngIf="!showDetailsPage && records">
	<app-render [renderData]="records" 
							[limitsData]="limits" 
							(onShowDetailsPage)="setDetailsPage($event)">
	</app-render>
</div>

<div class="statistic-details-area container-fluid" *ngIf="showDetailsPage">
	<app-record-details [record]="detailsPageRecord" 
											(onClickBackBtn)="setVisibilityDetailsPage(false)">
	</app-record-details>
</div>

